@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">確認</button>
<select id="invoiceAddressSearch" class="selectpicker show-tick form-control select-h38" data-live-search="false" title="請選擇">
    <option>10491台北市中山區撫順街41巷13號</option>
    <option>10491台北市中山區撫順街10-1號</option>
</select>


@code {
    int currentCount = 0;

    [Parameter]
    public int IncrementAmount {get;set;} = 1;

    void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
