<div class="section-box-area" id="PRDetailTable" style="display:none">
    <div class="box-area-title sub-id-flag" id="InformationSection-01"><b class="sub-title-flag">查詢結果</b></div>
    <div class="box">
        <div class="row">
            <div class="col-sm-12 content-box">
                <div class="w100 title m-top10">
                    <b class="float-left">請購單明細</b>
                    <!-- <div class="area-btn-right" id="GeneratePODetail">
                        <a class="btn-02-blue btn-text4">建立明細</a>
                    </div> -->
                </div>
                <table class="table table-hover m-top10 table-bordered tbody-hover-outline">
                    <thead>
                        <tr>
                            <th class="th-title w5">選擇</th>
                            <th class="th-title w10">請款單號</th>
                            <th class="th-title w10">報價單號</th>
                            <th class="th-title w25">品名描述</th>
                            <th class="th-title w35" colspan="2">採購分類</th>
                            <th class="th-title w15">
                                最低報價
                                <div class="p-right5 btn-01-add ExpandAllDetail"><a class="p-all0"><div class="toggleIcon toggleArrow list-open-icon"></div></a></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="DetailSerno" rowspan="200">
                                <input type="checkbox" class="DetailCheckbox" />
                            </td>
                            <td>PR201801010001</td>
                            <td>QO201809010001</td>
                            <td>桌子</td>
                            <td colspan="2">辦公室用具</td>
                            <td>
                                是
                                <div class="p-right5 btn-01-add ExpandDetail"><a><div class="glyphicon glyphicon-chevron-down  toggleArrow"></div></a></div>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <th class="th-title-1 w10">單位</th>
                            <th class="th-title-1 w10">數量</th>
                            <th class="th-title-1 w25">原幣報價單價</th>
                            <th class="th-title-1">幣別</th>
                            <th class="th-title-1 w15">報價經辦</th>
                            <th class="th-title-1 w15">發票管理人</th>
                        </tr>
                        <tr style="display:none">
                            <td>個</td>
                            <td>999</td>
                            <td>123,456</td>
                            <td>TWD</td>
                            <td>游OO(17962)</td>
                            <td>黃OO(17845)</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <th class="th-title-1" colspan="">選擇</th> -->
                            <th class="th-title-1" colspan="3">掛帳單位</th>
                            <th class="th-title-1" colspan="3">
                                收貨單位
                                <div class="btn-01-add float-right ExpandInnerDetail"><a><span>展開</span></a></div>
                            </th>
                        </tr>
                        <tr class="InnerDetailShowBar" style="display:none">
                            <td colspan="7" class="text-center">
                                <b class="undone-text">請展開檢視更多項目...</b>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-XX分行</td>
                            <td colspan="3">1399-XX分行</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-YY分行</td>
                            <td colspan="3">1399-YY分行</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-ZZ分行</td>
                            <td colspan="3">1399-ZZ分行</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="DetailSerno" rowspan="200">
                                <input type="checkbox" class="DetailCheckbox" />
                            </td>
                            <td>PR201801010001</td>
                            <td>QO201809010001</td>
                            <td>桌子</td>
                            <td colspan="2">辦公室用具</td>
                            <td>
                                是
                                <div class="p-right5 btn-01-add ExpandDetail"><a><div class="glyphicon glyphicon-chevron-down  toggleArrow"></div></a></div>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <th class="th-title-1 w10">單位</th>
                            <th class="th-title-1 w10">數量</th>
                            <th class="th-title-1 w25">原幣報價單價</th>
                            <th class="th-title-1">幣別</th>
                            <th class="th-title-1 w15">報價經辦</th>
                            <th class="th-title-1 w15">發票管理人</th>
                        </tr>
                        <tr style="display:none">
                            <td>個</td>
                            <td>999</td>
                            <td>123,456</td>
                            <td>TWD</td>
                            <td>游OO(17962)</td>
                            <td>黃OO(17845)</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <th class="th-title-1" colspan="">選擇</th> -->
                            <th class="th-title-1" colspan="3">掛帳單位</th>
                            <th class="th-title-1" colspan="3">
                                收貨單位
                                <div class="btn-01-add float-right ExpandInnerDetail"><a><span>展開</span></a></div>
                            </th>
                        </tr>
                        <tr class="InnerDetailShowBar" style="display:none">
                            <td colspan="7" class="text-center">
                                <b class="undone-text">請展開檢視更多項目...</b>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-XX分行</td>
                            <td colspan="3">1399-XX分行</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-YY分行</td>
                            <td colspan="3">1399-YY分行</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-ZZ分行</td>
                            <td colspan="3">1399-ZZ分行</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="DetailSerno" rowspan="200">
                                <input type="checkbox" class="DetailCheckbox" />
                            </td>
                            <td>PR201801010001</td>
                            <td>QO201809010001</td>
                            <td>桌子</td>
                            <td colspan="2">辦公室用具</td>
                            <td>
                                是
                                <div class="p-right5 btn-01-add ExpandDetail"><a><div class="glyphicon glyphicon-chevron-down  toggleArrow"></div></a></div>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <th class="th-title-1 w10">單位</th>
                            <th class="th-title-1 w10">數量</th>
                            <th class="th-title-1 w25">原幣報價單價</th>
                            <th class="th-title-1">幣別</th>
                            <th class="th-title-1 w15">報價經辦</th>
                            <th class="th-title-1 w15">發票管理人</th>
                        </tr>
                        <tr style="display:none">
                            <td>個</td>
                            <td>999</td>
                            <td>123,456</td>
                            <td>TWD</td>
                            <td>游OO(17962)</td>
                            <td>黃OO(17845)</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <th class="th-title-1" colspan="">選擇</th> -->
                            <th class="th-title-1" colspan="3">掛帳單位</th>
                            <th class="th-title-1" colspan="3">
                                收貨單位
                                <div class="btn-01-add float-right ExpandInnerDetail"><a><span>展開</span></a></div>
                            </th>
                        </tr>
                        <tr class="InnerDetailShowBar" style="display:none">
                            <td colspan="7" class="text-center">
                                <b class="undone-text">請展開檢視更多項目...</b>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-XX分行</td>
                            <td colspan="3">1399-XX分行</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-YY分行</td>
                            <td colspan="3">1399-YY分行</td>
                        </tr>
                        <tr style="display:none">
                            <!-- <td><input type="checkbox" class="InnerDetailCheckbox"/></td> -->
                            <td colspan="3"><input type="checkbox" class="InnerDetailCheckbox"/>1399-ZZ分行</td>
                            <td colspan="3">1399-ZZ分行</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-02-add"id="GeneratePODetail"><a><p><b>建立明細</b></p></a></div>
            </div>
        </div>
    </div>
</div>
