<div class="left-menu-box">
<!-- 		<div class="col-sm-12">
			<div class="menu-logo-icon"></div>
			<div class="menu-container-h2">法金系統</div>
		</div> -->
		<div class="col-sm-12">
			<div class="menu-box">
				<p>A 系統共用</p>
				<a class="menu-bt menu-box-active" href="#a01">1 色彩說明</a>
				<a class="menu-bt" href="#a02">2 字體說明</a>
				<a class="menu-bt" href="#a03">3 輸入/選擇元件</a>
				<a class="menu-bt" href="#a04">4 下拉選單<b class="new-note">更新</b></a>
				<a class="menu-bt" href="#a05">5 日期選單</a>
				<a class="menu-bt" href="#a06">6 POPUP樣式</a>
				<a class="menu-bt" href="#a07">7 CSS/JS 說明<b class="new-note">更新</b></a>
				<p>B 表單共用</p>
				<a class="menu-bt" href="#b01">1 表單標題</a>
				<a class="menu-bt" href="#b02">2 文件等級<b class="new-note">更新</b></a>
				<a class="menu-bt" href="#b03">3 系統資訊<b class="new-note">更新</b></a>
				<a class="menu-bt" href="#b04">4 區域狀態/框架說明</a>
				<a class="menu-bt" href="#b05">5 欄位模式</a>
				<a class="menu-bt" href="#b06">6 欄位分法</a>
				<a class="menu-bt" href="#b07">7 側欄選單<b class="new-note">更新</b></a>
				<a class="menu-bt" href="#b08">8 傳送設定</a>
				<a class="menu-bt" href="#b09">9 選擇人員/單位/<br>&nbsp;&nbsp;&nbsp;項目-POPUP
					<b class="new-note">更新</b>
				</a>
				<a class="menu-bt" href="#b10">10 流程紀錄<b class="new-note">更新</b></a>
				<a class="menu-bt" href="#b11">11 常用文字顏色</a>
				<a class="menu-bt" href="#b12">12 欄位警示</a>
				<a class="menu-bt" href="#b13">13 必填顯示</a>
				<a class="menu-bt" href="#b14">14 按鈕樣式</a>
				<a class="menu-bt" href="#b15">15 表格樣式</a>
				<a class="menu-bt" href="#b16">16 欄位新增<b class="new-note">更新</b></a>
				<a class="menu-bt" href="#b17">17 頁籤樣式</a>
				<a class="menu-bt" href="#b18">18 新增式頁籤</a>
				<a class="menu-bt" href="#b19">19 分頁器</a>
				<a class="menu-bt" href="#b20">20 麵包屑路徑</a>
				<a class="menu-bt" href="#b21">21 語系切換<b class="new-note">更新</b></a>

				<p>C 表單元件</p>
				<a class="menu-bt" href="#c01">1 檔案清單</a>
				<a class="menu-bt" href="#c02">2 連結清單</a>
				<a class="menu-bt" href="#c03">3 人員清單</a>
				<a class="menu-bt" href="#c04">4 輔助說明</a>
				<a class="menu-bt" href="#c05">5 意見溝通紀錄</a>
				<a class="menu-bt" href="#c06">6 範例下載<b class="new-note">更新</b></a>
				<a class="menu-bt" href="#c07">7 輔助提示<b class="new-note">更新</b></a>
			 </div>
		</div>
	</div>