@using WebBlazor.Services;
@inject IJSRuntime JSRuntime;
@inject DataService dataService
<div class="section-box-area" id="PRDetailSearchBlock">
<div class="box-area-title sub-id-flag" id="InformationSection-01"><b
        class="sub-title-flag">請購單查詢明細區:</b></div>
<div class="box">
    <div class="row">
        <div class="col-sm-3 content-box">
            <div class="w100 title"><b class="float-left">供應商</b><b class="required-icon">*</b>
            </div>
            <div class="disable-text" id="vendorNameSearch"><span
                    class="undone-text">請點選右方【選擇】鈕選擇供應商</span></div>
        </div>
        <div class="col-sm-1 content-box" style="padding-top:40px">
            <div class="area-1">
                <div class="area-btn-right-1">
                    <a class="btn-02-blue btn-left" onclick="obj.CallNet()">
                        選擇
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 content-box">
            <div class="w100 title"><b class="float-left">發票地點</b><b class="required-icon">*</b>
            </div>
            <div class="w100 text-box">
                <select id="invoiceAddressSearch"
                    class="selectpicker show-tick form-control select-h38"
                    data-live-search="true" title="請選擇" onchange="obj.Selected()">
                    @foreach (var item in addresses){
                    <option>@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="PRSearchRow" style="display:none">
        <div class="col-sm-3 content-box">
            <div class="w100 title"><b class="float-left">請購單號</b></div>
            <div class="w100 text-box">
                <select id="invoiceAddress"
                    class="selectpicker show-tick form-control select-h38"
                    data-live-search="false" title="請選擇"></select>
            </div>
        </div>
        <div class="col-sm-3 content-box">
            <div class="w100 title"><b class="float-left">報價經辦</b></div>
            <div class="w100 text-box">
                <select id="invoiceAddress"
                    class="selectpicker show-tick form-control select-h38"
                    data-live-search="false" title="請選擇"></select>
            </div>
        </div>
        <div class="col-sm-4 content-box">
            <div class="w100 title">
                <b class="float-left">請購單品名描述</b>
            </div>
            <input type="text" class="input" placeholder="請填寫品名描述" id="supplierName">
        </div>
        <div class="col-sm-2 content-box">
            <div class="title"></div>
            <div class="area-1">
                <div class="area-btn-right-1">
                    <a class="btn-02-gray btn-left">
                        <div class="glyphicon glyphicon-remove bt-icon-size"></div>清除
                    </a>
                </div>
                <div class="area-btn-right-1">
                    <a id="SearchPRDetailBtn" class="btn-02-blue btn-left"
                        onclick="obj.SearchResult()">
                        <div class="icon-search bt-icon-size"></div>查詢
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@code{
     [Parameter]
    public string Text {get;set;}
    private List<SupplierAddress> addresses;

   //頁面起始
    protected override async Task OnInitializedAsync()
    {
        Text = Text ?? "fantastic";
        addresses = await dataService.GetSupplierAddressAsync();
    }

    //提供給JS呼叫的Function
    [JSInvokable]
    public static Task<List<TodoItem>> ReturnArrayAsync()
    {
        var todos = new List<TodoItem>();
        var todo1 = new TodoItem(){Title="待辦事項1",IsDone=false};
        var todo2 = new TodoItem(){Title="待辦事項2",IsDone=false};
        todos.Add(todo1);
        todos.Add(todo2);
        return Task.FromResult(todos);
    }

    //頁面Render完畢
    protected override async Task OnAfterRenderAsync(bool firstRender){
        if (firstRender){
            //呼叫JS的Function
            var text = await JSRuntime.InvokeAsync<string>("obj.Init","測試");
            StateHasChanged();
    }

    }

}